body{
    background: yellow;
    &:after{
        content: '';
        position: absolute;
        top:50%;
        left:50%;
        width: 50px;
        height:50px;
        background:#000;
        transform: translate(-50%, -50%);
    }
}
